<header class="site-header">
  <div class="container">
    <a href="/" class="logo">HERZ</a>
    <nav>
      <ul>
        <li><a href="/collections/all">Shop</a></li>
        <li><a href="/pages/about">About</a></li>
        <li><a href="/pages/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
